.newsArticle {
  width: 90%;
  margin: auto;
  font-size: 1.1em;
}

.newsImage {
  width: 100%;

}


hr {
  margin-bottom: 1em;
}


a[target] {
  padding: 1em;
}


@media (min-width: 900px) {
  .newsArticle {
    flex-grow: 1;
    flex-basis: 400px;
    margin: 15px;
  }

  .newsImage {
    height: 300px;
  }

  .bottomBorder {
    display: none;
  }



}
