.SearchedStockContainer{
  background: url("/images/search_background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 2em;
}


.text {
  color: white;
}

h2 {
  text-align: center;
}
