.header {
  text-align: center;
  background-color:  #005594;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

h1 {
  margin: 0;
  display: inline-block;
}
