.footer {
  background:  #005594;
  color: white;
  padding: 1em;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5em;

}
